* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", sans-serif;
}

.usernav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99999;
  position: fixed;
  padding-top: 20px;
}

.usernav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 16px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand-logo {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.brand-name {
  font-weight: 600;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img{
  height: 30px;
  width: 30px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 999px;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
